@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(pixel.jpg);
    background-size: cover;
    

}
.out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(224, 239, 8); */
    width: 25%;
    opacity: 0.9;
    /* height: 80%; */
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
}
.box{
    height: 80%;
}
.in{
    height: 30px;
    margin: 18px;
    color: yellow;
    font-size: medium;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    border: 5px solid blue;
    background: black;
    text-align: center;
}
button{
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.name{
    color: white;
    margin-top: 10px;
    position: absolute;
    left: 39%;
    top: 30%;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: brown;
}
.sg{
    background-color: none;
    cursor: pointer;
    
    color: white;
    margin-top: 10px;
}
.sg:hover{
    background-color: none;
    cursor: pointer;
    text-decoration: underline;
    color: white;
    
}
nav{
    background-color: black;
    border-radius: 5px;
    border: 2px solid yellow;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
li{
    color: white;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
}
li:hover{
    color: red;
    cursor: pointer;
}
.usr{
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
    /* margin-left: 100px; */
    position: absolute;
    right: 10px;
}
.usr a{
    color: yellow;
}
